.field {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.heading {
    margin-top: 6px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    -unity-font-style: bold;
}
